<button class="btn-logout" (click)="logout()">
    Logout
</button>

<h1>Hola, {{name}} {{lastname}} </h1>
<hr>

<p style="text-align:center;">
    Enviar un mensaje al foro
</p>

<div class="contenedor-formulario">
    <form (ngSubmit)="sendMessage()" [formGroup]="miFormulario" action="">
    <textarea class="box-mensaje" formControlName="body"  name="" id="" cols="80" rows="5"></textarea>
        <button class="btn-enviar" type="submit">Enviar</button>
    </form>
</div>

<div class="caja-mensajes">
    <div *ngFor="let message of messages" class="mensaje">
        <h4>{{ message.user.name }} {{ message.user.lastname }}<span style="font-size: 12px; color: rgb(29, 129, 187);"><{{ message.user.email }}></span>dijo:</h4>
        <p>{{message.body}} </p>
    </div>
</div>



